@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    background-color:#87CEEB;
}

h1 {
    text-align: center;
    margin: 10px 0;
}

h3 {
    text-align: center;
}


.row_container {    
    /* background-color:#87CEEB; */
    width: 100%;
    margin: 0 auto;
    height: 100%;

}

img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    justify-content: center;   
   
}


.sub_container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 20px;   
  
}

.card_picture {
    margin: 0 10px;
}

.column_picture {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 500;
}
  /*  Hover CSS    */

.column_picture:hover p {
    color:rgb(18, 6, 183);
    font-weight:600;
}

h3:hover {
    text-align: center;
    color:rgb(18, 6, 183);
    font-weight:600;
}




/*  Footer CSS      */

.footer-bottom {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}
.footer-bottom:hover {
    color: green;
    font-weight:600;
}

/*   Media   */

@media screen and (max-width:600px) {
    .sub_container {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    
}